<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<div class="container">
  <table class="table-bordered col-12 text-center">
    <tbody class="justify-content-center">
      <tr class="justify-content-center ml-3 ">
        <th class="col-4 justify-content-center ml-5" [rowSpan]="2">
          <svg style="width:150px;height:150px" viewBox="0 0 24 24">
            <path fill="currentColor" d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z" />
          </svg>
          <br>
          <strong>Anderson Cárdenas</strong>

          <p>Ver perfil</p>
        </th>
        <th class="justify-content-center ml-5">
          <br>
          <strong>Perfil público</strong>
          <p style="font-weight: normal">Añade información sobre ti</p>
        </th>
      </tr>
      <tr>
        <th>
          <br>
          <strong class="">Información básica</strong>
          <br>
          <br>

          <div class="card ml-4 mr-4">
            <div class="card-body">
              Anderson
            </div>
          </div>

          <div class="card ml-4 mr-4">
            <div class="card-body">
              Cárdenas
            </div>
          </div>

          <div class="card ml-4 mr-4">
            <div class="card-body">
              Estudiante Ing. en Software
            </div>
          </div>

          <div class="card ml-4 mr-4">
            <div class="card-body">
              Estudiante Ing. en Software
            </div>
          </div>

        </th>
      </tr>
    </tbody>
  </table>
</div>
